name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  check:
    name: Check, Test, Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check --all-targets --features _test

      - name: Clippy
        run: cargo clippy --all-targets --features _test -- -D warnings

      - name: Format
        run: cargo fmt -- --check

      - name: Test
        run: cargo test --features _test
